In [49]:
# Dependencies
import pandas as pd

In [50]:
# Store filepath in a variable
file_to_load = "Resources/purchase_data.csv"

In [51]:
# Read purchase file and store into Pandas data frame
purchase_data_df= pd.read_csv(file_to_load) 
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [52]:
# Display counting number of players
unique_players = len(purchase_data_df["SN"].unique())
unique_players

total_players_df = pd.DataFrame({"Total Players":[unique_players]})
total_players_df

   Total Players
0            576

In [53]:
# Display the count for "Item ID"
unique_item = len(purchase_data_df["Item ID"].unique())
unique_item 

# Display average purchase price
average_price = purchase_data_df["Price"].mean()
average_price = round(average_price,2)
average_price

# Display total number of purchases
total_number_purchase = purchase_data_df["Price"].count()
total_number_purchase

# Display total reveune
total_revenue = purchase_data_df["Price"].sum()
total_revenue

purchase_analysis = pd.DataFrame({"Number of Unique Items":unique_item,
                                  "Average Purchase Price":[average_price],
                                  "Total Number of Purchases":[total_number_purchase],
                                   "Total Revenue":[total_revenue]})
#Data cleanup
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:,.2f}".format)
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)

purchase_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [54]:
# Display count of male players, female players and other/non-disclosed
gender_totals = purchase_data_df[["Gender", "SN"]]
gender_totals = gender_totals.drop_duplicates()
gender_totals = gender_totals["Gender"].value_counts()
gender_totals

#Display gender in percents
gender_percents = gender_totals/ unique_players * 100
gender_percents

#DateFrame
gender_demographics = pd.DataFrame ({"Total Count":gender_totals,
                                      "Percentage of Players":gender_percents})

gender_demographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [96]:
# # Display purchase count
purchase_count = purchase_data_df.groupby(["Gender"]).count()
purchase_count

# # Display average purchase price
average_purchase_value = purchase_data_df.groupby(["Gender"]).mean()
average_purchase_value

# Display total purchase value
total_value = purchase_data_df.groupby(["Gender"]).sum()
total_value

# # Display average purchase total per person by gender
average_purchase_total = total_value/gender_demographics["Total Count"]
average_purchase_total

# # DataFrame for purchasing analysis
purchasing_analysis = pd.DataFrame ({"Purchase Count":[purchase_count],
                                   "Average Purchase Price":[average_purchase_value],
                                     "Total Purchase Value":[total_value],
                                    "Avg Purchase Total by Gender":[average_purchase_total]})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total by Gender
0,Purchase ID SN Age ...,Purchase ID Age ...,Purchase ID Age Ite...,Age Female Item ID M...

In [68]:
# Place in bins
bin_numbers = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
bin_numbers

# Age categories
age_types = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]
age_types

# Split by age
purchase_data_df["Age Types"] = pd.cut(purchase_data_df["Age"], bin_numbers, labels=age_types)
purchase_data_df

# Separate players by age group
age_group = purchase_data_df.groupby("Age Types")
age_group

# Dispay number of players
number_players = purchase_data_df.groupby(["SN"]).nunique()
number_players

# Calculate the numbers and percentages by age group
age_percent = number_players/total_players_df * 100
age_percent

#DataFrame
age_demographics = pd.DataFrame ({"Total Count":[number_players], "Percentage of players":[age_percent]})
age_demographics

,Total Count,Percentage of players
0,Purchase ID SN Age Gender I...,Age Age Types Gender Item ID...

In [ ]:
Based on the activites that I completed, I observed that age does play a huge role.